# ENVIRONMENT
ENV=prod

# FRONTEND
FRONTEND_BASE_URL=<your_frontend_base_url>
FRONTEND_USER_ACTIVATION_PATH=pages/auth/activate.html
FRONTEND_PASSWORD_RESET_PATH=pages/auth/confirm_password.html

# Django Settings
SECRET_KEY='<your_secret_key>'
BACKEND_HOST=<your_backend_host>
ALLOWED_HOSTS=<your_allowed_hosts>
CSRF_TRUSTED_ORIGINS=<your_csrf_trusted_origins>
CORS_ALLOWED_ORIGINS=<your_cors_allowed_origins>

# Treafik
TRAEFIK_BACKEND_ROUTER=videoflix-backend


# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=videoflix_db
DB_USER=videoflix_user
DB_PASSWORD=<your_database_password>
DB_HOST=postgres
DB_PORT=5432

# SIMPLE_JWT
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=1

# Queue
DEFAULT_QUEUE=default

# Redis
REDIS_HOST=redis
REDIS_LOCATION=redis://redis:6379/1
REDIS_PORT=6379
REDIS_PASSWORD=<your_redis_password>
REDIS_DB=0
REDIS_TIMEOUT=1000
REDIS_MAX_MEMORY=256mb
REDIS_KEY_PREFIX=videoflix

# Gunicorn
# Workers = (vCPU * 2) + 1 → 5 for 2 vCPU
GUNICORN_WORKERS=5
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120
GUNICORN_MAX_REQUESTS=1000
GUNICORN_MAX_REQUESTS_JITTER=50

# Email
EMAIL_HOST=<your_smtp_server_address>
EMAIL_PORT=587
EMAIL_HOST_USER=<your_email>
EMAIL_HOST_PASSWORD=<your_email_password>
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=<your_sender_email>