{% extends "emails/base.html" %}
{% block title %}Confirm your email{% endblock %}
{% load email_filters %}


{% block content %}
<div class="email-container">
    <div class="email-content">
      <p>Dear <span class="accent">{{ user.email|before_at }}</span>,</p>
      <p>Thank you for registering with <span class="accent">Videoflix</span>. To complete your registration and verify your email address, please click the link below:</p>
      <p>
        <a href="{{ link }}" class="button">Activate Account</a>
      </p>
      <p>If you did not create an account with us, please ignore this email.</p>
      <p>Best regards,<br>Your Videoflix Team.</p>
    </div>
  </div>
{% endblock %}